.container {
    width: 400px;
    height: 400px;
    background-color: steelblue;
    margin: 80px auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.box {
    width: 200px;
    height: 200px;
    background-color: tomato;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(1); */
    /* transform: scaleX(1.4) scaleY(0.6); */
    /* transform: scalez(0.6);  don't show this position.*/
    /* transform: scale(1.5,0.35);
    transform: skew(20deg, 0deg); */
    /* transform: translate(50%, 50%); */
    /* transform: rotate(20deg); */
    /* transform: scale(1.2) skew(45deg) translate(50%) rotate(10deg); */
    transform-origin: bottom left;
    /* transform-origin: 50% 50%; */
    transform: scale(0.5);
    transition: 0.7s ease-in-out;
}
.box:hover{
    transform: rotate(180deg);
}